openapi: 3.0.1
info:
  title: News source
  version: 1.0.0
  description: This is a new source api generator
  termsOfService: http://swagger.io/terms/
servers:
  - url: https://newsapi.org/v2/top-headlines
tags:
  - name: sources
    description: Operations about user
    externalDocs:
      description: Find out more about our store
      url: http://swagger.io  
      
paths:
  /sources:
    get:
      tags:
        - sources
      summary: Get news sources list
      operationId: sources
      parameters:
        - in: query
          name: apiKey
          required: true
          schema:
            type: string
            default: c74e894ef21646e28347927d57a85b87
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
        '400':
          description: Invalid status value
          content: {}
      # security:
      #   - myApiKey: ["alphaQQQ"]
  
components:
  schemas:
    Source:
      type: object
      properties:
        status:
          type: string
        sources:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              url:
                type: string
              category:
                type: string
              language:
                type: string
              country:
                type: string
    
  # securitySchemes:
  #   myApiKey:
  #     type: apiKey
  #     name: X-N-KEY
  #     in: query
